h1{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5em;
}

table{
    margin: auto;
    /*border:15px solid #0d8567;
    border-spacing: 5px;*/
}

table td{
    width: 65px;
    height: 65px;
    color: white;
    font-size: 40px;
    
    text-align: center;
    border:2px solid #2f3640;
}

.table1{
    text-align: center;
}

.siyah{
    background: #718093;
    
}
.beyaz{
    background: #DCDCDC;
}